
__recovery/__recovery.ini
*.ini
__history/ConsumindoApi.dpr.~11~
__history/UConsumindoApi.dfm.~124~
__history/UConsumindoApi.dfm.~123~
__history/UConsumindoApi.dfm.~122~
__history/UConsumindoApi.dfm.~121~
__history/UConsumindoApi.dfm.~120~
__history/UConsumindoApi.dfm.~119~
__history/UConsumindoApi.dfm.~118~
__history/UConsumindoApi.dfm.~117~
__history/UConsumindoApi.dfm.~116~
__history/UConsumindoApi.dfm.~115~
__history/ConsumindoApi.dpr.~1~
__history/UConsumindoApi.dfm.~128~
__history/UConsumindoApi.dfm.~129~
__history/UConsumindoApi.dfm.~130~
__history/UConsumindoApi.dfm.~131~
__history/UConsumindoApi.dfm.~132~
__history/UConsumindoApi.dfm.~133~
__history/UConsumindoApi.dfm.~134~
__history/UConsumindoApi.dfm.~135~
__history/UConsumindoApi.dfm.~136~
__history/UConsumindoApi.dfm.~137~
